# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node Modules & Build
node_modules/
dist/
dist-ssr/
build/

# Local environment configs
*.local

# Environment Variables
.env
.env.local
.env.*.local
.env.development
.env.production
.env.test

# Editor directories and files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System Files
.DS_Store
Thumbs.db

# Optional (remove if unused)
coverage/
tmp/
temp/
# uploads/
public/uploads/
!src/modules/uploads/
!src/modules/uploads/**

# TypeScript cache (if using TS)
*.tsbuildinfo
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
